### Count the number of appearances

In [4]:
tuplex = (2,4,5,6,2,3,4,4,7)
print('count of 4 is:',tuplex.count(4))

count of 4 is: 3

### Convert list to tuple

In [5]:
listx = [5,10,7,4,15,3]
tuplex = tuple(listx)
print(tuplex)

(5, 10, 7, 4, 15, 3)

### sum of numbers in tuple

In [17]:
tuples_list = [(1, 2), (3, 4), (5, 6)]
total_sum = 0
for n in tuples_list:
    total_sum += sum(n)
print(total_sum)

21

### iterate and print values in tuple

In [19]:
employee1 = ("Jhon Doe",101,"Human resources",60000)
employee2 = ("Alice Smith",102,"Marketing",55000)
employee3 = ("Bob Jhonson",103,"Engineering",75000)
list1 = [employee1,employee2,employee3]
for emp in list1:
    name,id,dept,sal = emp
    print("name:",name,",emp_id:",id,",Department:",dept,",salary:",sal)

name: Jhon Doe ,emp_id: 101 ,Department: Human resources ,salary: 60000
name: Alice Smith ,emp_id: 102 ,Department: Marketing ,salary: 55000
name: Bob Jhonson ,emp_id: 103 ,Department: Engineering ,salary: 75000